.home-top {
    background-color: gray;
    display: flex;
    height: 50vh;
    overflow: hidden;
}

.home-left {
    width: 33vw;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
}

.home-right {
    width: 66vw;
    background-color: lightcyan;
}

.home-bottom {
    height: 45vh;
    border-top: 1px solid lightgray;
    margin-top: 5vh;
    padding-top: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


textarea {
    width: 200px;
    height: 200px;
}