.home {
    background-color: gray;
    display: flex;
    height: 50vh;
    overflow: hidden;
}

.home-left {
    width: 33vw;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
}

.home-right {
    width: 66vw;
    background-color: lightcyan;
}